<% if (messages && messages.length> 0) {
    for (const message of messages) { for (const [messageType, messageText] of Object.entries(message)){
    let icon = "";
    switch (messageType) {
    case "success":
    icon = "#check-circle-fill";
    break;
    case "danger":
    case "error":
    icon = "#exclamation-triangle-fill";
    break;
    default:
    icon = "#info-fill";
    break;
    }
    %>
    <div class="<%= `alert alert-${messageType} alert-dismissible fade show d-flex align-items-center` %>" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="<%= `${messageType}:` %>">
            <use xlink:href="<%= icon  %>" />
        </svg>
        <%= messageText %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }} }%>